.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  box-sizing: border-box;
}

.dashboard-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
  border: 5px black solid;
}

.search-container {
  width: 60%;
  min-width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15vh;
  border: 1px red solid;
}

.search-text-field {
  width: 65%;
}

.dashboard-data {
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 75%;
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px red solid;
}

.wallet-list-container {
  width: 30%;
  border: 1px black dotted;
}

.wallet {
  transition: all 0.2s ease;
  background-color: #fff;
}

.wallet:hover {
  background-color: #dddddd;
  transform: translateY(-0.2px);
}

.transaction-list-container {
  width: 65%;
  border: 1px black dotted;
}
